{% extends 'base.html' %}

{% block title %} Страница создания записи:{% endblock %}

{% block content %}
<h3>Управления справочниками</h3>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
            data-value="Simple header" data-translation="Простой заголовок" data-ch="0" data-type="trSpan"
            data-selected="false" style="visibility: inherit !important;">Добавление, редактирование и удаление
            статусов, типов,
            категорий и подкатегорий, установление необходимых зависимостей.</ya-tr-span></span>
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false"> Создать</a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'site_ddsapp:create_status' %}">Статус</a></li>
                <li><a class="dropdown-item" href="{% url 'site_ddsapp:create_type' %}">Тип</a></li>
                <li><a class="dropdown-item" href="{% url 'site_ddsapp:create_category' %}">Категории</a></li>
                <li><a class="dropdown-item" href="#">Подкатегории</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">Редактировать</a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Дата</a></li>
                <li><a class="dropdown-item" href="#">Статус</a></li>
                <li><a class="dropdown-item" href="#">Тип</a></li>
                <li><a class="dropdown-item" href="#">Категории</a></li>
                <li><a class="dropdown-item" href="#">Подкатегории</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">Удалить</a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Дата</a></li>
                <li><a class="dropdown-item" href="#">Статус</a></li>
                <li><a class="dropdown-item" href="#">Тип</a></li>
                <li><a class="dropdown-item" href="#">Категории</a></li>
                <li><a class="dropdown-item" href="#">Подкатегории</a></li>
            </ul>
        </li>
    </ul>

</header>

{% endblock %}